{% load static %}
{% load i18n %}    
    <!-- Header Carousel Start /hero -->
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
     
        <div class="carousel-inner">
            {% for hero in heroes %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% if hero.image_hero_car %}
                <img class="w-100" src="{{ hero.image_hero_car.url }}" alt="Image">
                {% else %}
                <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                {% endif %}
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{ hero.title_hero }}</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{ hero.subtitle_hero }}</h1>
                        <a href="quote.html" class="btn btn-warning py-md-3 px-md-5 me-3 animated slideInLeft">Free Quote</a>
                        <a href="{% url 'contact:contact_home' %}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- end Header Carousel Start /hero -->