{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content_ar %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 bg-header mb-5" dir="rtl">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">الخدمات</h1>
                <a href="{% url 'core:home' %}" class="h5 text-white">الرئيسية</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="{% url 'services' %}" class="h5 text-white">الخدمات</a>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- خدماتنا Start -->
    <div id="services" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">{{ service_starts.service_name }}</h5>
                <h1 class="mb-0">{{ service_starts.service_details }}</h1>
            </div>
            <div class="row g-5">
                {% for service_item in service_items %}
                <!-- الأمن السيبراني -->
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fa fa-shield-alt text-white"></i>
                        </div>
                        <h4 class="mb-3">{{ service_item.service_name_ar }}</h4>
                        <p class="m-0">{{ service_item.service_details_ar }}</p>
                        <a class="btn btn-lg btn-warning rounded" href="{% url 'service_detail' service_item.slug %}">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}

                <!-- اتصل بنا -->
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="position-relative bg-warning rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                        <h3 class="text-white mb-3">اتصل بنا لطلب عرض سعر</h3>
                        <p class="text-white mb-3">فريقنا جاهز لتقديم أفضل الحلول التقنية التي تناسب عملك.</p>
                        <h2 class="text-white mb-0">+0{{ info_contact.phone_contact }}</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- خدماتنا End -->
{% endblock content_ar %}

{% block content_en %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 bg-header mb-5" dir="ltr">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Services</h1>
                <a href="{% url 'core:home' %}" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="{% url 'services' %}" class="h5 text-white">Services</a>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Service Start -->
    <div id="services" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">{{ service_starts.service_name}}</h5>
                <h1 class="mb-0">{{ service_starts.service_details }}</h1>
            </div>
            <div class="row g-5">

                {% for service_item in service_items %}
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fa fa-shield-alt text-white"></i>
                        </div>
                        <h4 class="mb-3">{{ service_item.service_name }}</h4>
                        <p class="m-0">{{ service_item.service_details }}</p>
                        <a class="btn btn-lg btn-warning rounded" href="{% url 'service_detail' service_item.slug %}">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
              <!-- اتصل بنا -->
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="position-relative bg-warning rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                        <h3 class="text-white mb-3">Contact us for a quote</h3>
                        <p class="text-white mb-3">Our team is ready to provide the best technical solutions tailored to your business.</p>
                        <h2 class="text-white mb-0">+0{{ info_contact.phone_contact }}</h2>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Service End -->
{% endblock content_en %}



