{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content_en %}
    <!-- Header Carousel Start /hero -->
    {% include "hero/home_hero_en.html" %}
    <!-- end Header Carousel Start /hero -->

    <!-- Facts Start -->
    {% include "CoreFactsStart.html" %}
    <!-- Facts Start -->

    <!-- About Start -->
    {% include "corepage.html" %}
    <!-- About End -->

    <!-- Features Start -->
    {% include "maincore.html" %}
    <!-- Features Start -->

    <!-- Service Start -->
    {% include "home_main/services_main.html" %}
    <!-- Service End -->

    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">Pricing Plans</h5>
                <h1 class="mb-0">We are Offering Competitive Prices for Our Clients</h1>
            </div>
            <div class="row g-0">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="bg-light rounded">
                        <div class="border-bottom py-4 px-5 mb-4">
                            <h4 class="text-warning mb-1">Basic Plan</h4>
                            <small class="text-uppercase">For Small Size Business</small>
                        </div>
                        <div class="p-5 pt-0">
                            <h1 class="display-5 mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>49.00<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-3"><span>Responsive Layout</span><i class="fa fa-times text-danger pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-2"><span>Cross-browser Support</span><i class="fa fa-times text-danger pt-1"></i></div>
                            <a href="" class="btn btn-warning py-2 px-4 mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="bg-white rounded shadow position-relative" style="z-index: 1;">
                        <div class="border-bottom py-4 px-5 mb-4">
                            <h4 class="text-warning mb-1">Standard Plan</h4>
                            <small class="text-uppercase">For Medium Size Business</small>
                        </div>
                        <div class="p-5 pt-0">
                            <h1 class="display-5 mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>99.00<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-3"><span>Responsive Layout</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-2"><span>Cross-browser Support</span><i class="fa fa-times text-danger pt-1"></i></div>
                            <a href="" class="btn btn-warning py-2 px-4 mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="bg-light rounded">
                        <div class="border-bottom py-4 px-5 mb-4">
                            <h4 class="text-warning mb-1">Advanced Plan</h4>
                            <small class="text-uppercase">For Large Size Business</small>
                        </div>
                        <div class="p-5 pt-0">
                            <h1 class="display-5 mb-3">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>149.00<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1>
                            <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-3"><span>Responsive Layout</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <div class="d-flex justify-content-between mb-2"><span>Cross-browser Support</span><i class="fa fa-check text-warning pt-1"></i></div>
                            <a href="" class="btn btn-warning py-2 px-4 mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->

    <!-- Quote Start -->
    {% include "contact_main_en.html" %}
    <!-- Quote End -->

    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">Team Members</h5>
                <h1 class="mb-0">Professional Stuffs Ready to Help Your Business</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-1.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-warning">Full Name</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-1.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-warning">Full Name</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-1.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-warning">Full Name</h4>
                            <p class="text-uppercase m-0">Designation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">Latest Blog</h5>
                <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-warning text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-warning me-2"></i>John Doe</small>
                                <small><i class="far fa-calendar-alt text-warning me-2"></i>01 Jan, 2045</small>
                            </div>
                            <h4 class="mb-3">How to build a website</h4>
                            <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
                            <a class="text-uppercase" href="">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-warning text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-warning me-2"></i>John Doe</small>
                                <small><i class="far fa-calendar-alt text-warning me-2"></i>01 Jan, 2045</small>
                            </div>
                            <h4 class="mb-3">How to build a website</h4>
                            <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
                            <a class="text-uppercase" href="">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-warning text-white rounded-end mt-5 py-2 px-4" href="">Web Design</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-warning me-2"></i>John Doe</small>
                                <small><i class="far fa-calendar-alt text-warning me-2"></i>01 Jan, 2045</small>
                            </div>
                            <h4 class="mb-3">How to build a website</h4>
                            <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
                            <a class="text-uppercase" href="">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Start -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel">
                    <img src="{% static 'img/vendor-1.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-2.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-3.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-4.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-5.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-6.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-7.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-8.jpg' %}" alt="">
                    <img src="{% static 'img/vendor-9.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->

{% endblock content_en %}

{% block content_ar %}

    <!-- الكاروصل /hero -->
    {% include "hero/home_hero_ar.html" %}
    <!-- end الكاروصل /hero -->

    <!-- Facts Start -->
    {% include "CoreFactsStart_ar.html" %}
    <!-- Facts End -->

    <!-- حول Start -->
    {% include "corepage_ar.html" %}
    <!-- حول End -->

    <!-- ميزات Start -->
    {% include "maincore_ar.html" %}
    <!-- ميزات End -->

    <!-- خدماتنا Start -->
    {% include "home_main/services_main_ar.html" %}
    <!-- خدماتنا End -->

    <!--  خطط الأسعارStart -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">خطط الأسعار</h5>
                <h1 class="mb-0">نحن نقدم أسعارًا تنافسية لعملائنا</h1>
            </div>
            <div class="row g-4">
                <!-- Basic Plan -->
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="bg-light rounded h-100 d-flex flex-column">
                        <div class="border-bottom py-4 px-4 mb-4 text-center">
                            <h4 class="text-warning mb-1">الخطة الأساسية</h4>
                            <small class="text-uppercase">للشركات الصغيرة</small>
                        </div>
                        <div class="px-4 pb-5 flex-grow-1 d-flex flex-column justify-content-between">
                            <div>
                                <h1 class="display-5 mb-3 text-center">
                                    <small style="font-size: 22px; line-height: 45px;">$</small>
                                    49.00
                                    <small style="font-size: 16px; line-height: 40px;">/ شهر</small>
                                </h1>
                                <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>تصميم متجاوب</span><i class="fa fa-times text-danger pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>دعم المتصفحات</span><i class="fa fa-times text-danger pt-1"></i></div>
                            </div>
                            <div class="text-center mt-4">
                                <a href="" class="btn btn-warning py-2 px-4">اطلب الآن</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Standard Plan -->
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="bg-white rounded shadow position-relative h-100 d-flex flex-column" style="z-index: 1;">
                        <div class="border-bottom py-4 px-4 mb-4 text-center">
                            <h4 class="text-warning mb-1">الخطة القياسية</h4>
                            <small class="text-uppercase">للشركات المتوسطة</small>
                        </div>
                        <div class="px-4 pb-5 flex-grow-1 d-flex flex-column justify-content-between">
                            <div>
                                <h1 class="display-5 mb-3 text-center">
                                    <small style="font-size: 22px; line-height: 45px;">$</small>
                                    99.00
                                    <small style="font-size: 16px; line-height: 40px;">/ شهر</small>
                                </h1>
                                <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>تصميم متجاوب</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>دعم المتصفحات</span><i class="fa fa-times text-danger pt-1"></i></div>
                            </div>
                            <div class="text-center mt-4">
                                <a href="" class="btn btn-warning py-2 px-4">اطلب الآن</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Advanced Plan -->
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="bg-light rounded h-100 d-flex flex-column">
                        <div class="border-bottom py-4 px-4 mb-4 text-center">
                            <h4 class="text-warning mb-1">الخطة المتقدمة</h4>
                            <small class="text-uppercase">للشركات الكبيرة</small>
                        </div>
                        <div class="px-4 pb-5 flex-grow-1 d-flex flex-column justify-content-between">
                            <div>
                                <h1 class="display-5 mb-3 text-center">
                                    <small style="font-size: 22px; line-height: 45px;">$</small>
                                    149.00
                                    <small style="font-size: 16px; line-height: 40px;">/ شهر</small>
                                </h1>
                                <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-3"><span>تصميم متجاوب</span><i class="fa fa-check text-warning pt-1"></i></div>
                                <div class="d-flex justify-content-between mb-2"><span>دعم المتصفحات</span><i class="fa fa-check text-warning pt-1"></i></div>
                            </div>
                            <div class="text-center mt-4">
                                <a href="" class="btn btn-warning py-2 px-4">اطلب الآن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->

    <!-- الاسئلة الشائعة  -->
    {% include "contact_main_ar.html" %}
    <!-- الاسئلة الشائعة End -->

    <!-- الفريق Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">فريق العمل</h5>
                <h1 class="mb-0">فريق محترف جاهز لمساعدتك في تنمية أعمالك</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-1.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-warning">الاسم بالكامل</h4>
                            <p class="text-uppercase m-0">الوظيفة</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-1.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-warning">الاسم بالكامل</h4>
                            <p class="text-uppercase m-0">الوظيفة</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-1.png' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-warning btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-warning">الاسم بالكامل</h4>
                            <p class="text-uppercase m-0">الوظيفة</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-warning text-uppercase">آخر المقالات</h5>
                <h1 class="mb-0">اقرأ أحدث المقالات من مدونتنا</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                            <a class="position-absolute top-0 end-0 bg-warning text-white rounded-start mt-5 py-2 px-4" href="">تصميم مواقع</a>
                        </div>
                        <div class="p-4 text-end">
                            <div class="d-flex justify-content-end mb-3">
                                <small class="ms-3"><i class="far fa-user text-warning ms-2"></i>محمد علي</small>
                                <small><i class="far fa-calendar-alt text-warning ms-2"></i>01 يناير 2045</small>
                            </div>
                            <h4 class="mb-3">كيف تبني موقع إلكتروني</h4>
                            <p>تعرف على الخطوات الأساسية لبناء موقع احترافي باستخدام أحدث الأدوات.</p>
                            <a class="text-uppercase" href="">اقرأ المزيد <i class="bi bi-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="">
                            <a class="position-absolute top-0 end-0 bg-warning text-white rounded-start mt-5 py-2 px-4" href="">برمجة</a>
                        </div>
                        <div class="p-4 text-end">
                            <div class="d-flex justify-content-end mb-3">
                                <small class="ms-3"><i class="far fa-user text-warning ms-2"></i>أحمد حسن</small>
                                <small><i class="far fa-calendar-alt text-warning ms-2"></i>05 فبراير 2045</small>
                            </div>
                            <h4 class="mb-3">أهم لغات البرمجة في 2045</h4>
                            <p>استكشف أكثر لغات البرمجة طلبًا في السوق وكيف تبدأ تعلمها.</p>
                            <a class="text-uppercase" href="">اقرأ المزيد <i class="bi bi-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="img/blog-3.jpg" alt="">
                            <a class="position-absolute top-0 end-0 bg-warning text-white rounded-start mt-5 py-2 px-4" href="">تسويق</a>
                        </div>
                        <div class="p-4 text-end">
                            <div class="d-flex justify-content-end mb-3">
                                <small class="ms-3"><i class="far fa-user text-warning ms-2"></i>سارة محمد</small>
                                <small><i class="far fa-calendar-alt text-warning ms-2"></i>10 مارس 2045</small>
                            </div>
                            <h4 class="mb-3">استراتيجيات التسويق الرقمي</h4>
                            <p>طرق فعالة لزيادة الوعي بعلامتك التجارية عبر الإنترنت.</p>
                            <a class="text-uppercase" href="">اقرأ المزيد <i class="bi bi-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- Vendor Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel">
                    <img src="img/vendor-1.jpg" alt="">
                    <img src="img/vendor-2.jpg" alt="">
                    <img src="img/vendor-3.jpg" alt="">
                    <img src="img/vendor-4.jpg" alt="">
                    <img src="img/vendor-5.jpg" alt="">
                    <img src="img/vendor-6.jpg" alt="">
                    <img src="img/vendor-7.jpg" alt="">
                    <img src="img/vendor-8.jpg" alt="">
                    <img src="img/vendor-9.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    
{% endblock content_ar %}