{% load static %}
{% load i18n %}

{% if LANGUAGE_CODE == 'ar' %}
    <!-- الشريط العلوي بداية -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block" dir="rtl">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-end mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt ms-2"></i>{{ info_contact.location_contact }}</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt ms-2"></i>{{ info_contact.phone_contact }}</small>
                    <small class="text-light"><i class="fa fa-envelope-open ms-2"></i>{{ info_contact.email_contact }}</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-start">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    {% for social in social_media_contacts %}
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ social.url }}"><i class="fab {{ social.icon_name }} fw-normal"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- الشريط العلوي نهاية -->

{% else %}
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>{{ info_contact.location_contact }}</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>{{ info_contact.phone_contact }}</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>{{ info_contact.email_contact }}</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    {% for social in social_media_contacts %}
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ social.url }}"><i class="fab {{ social.icon_name }} fw-normal"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

{% endif %}